# app site
/apps/site/node_modules/
/apps/site/.cache/
/apps/site/dist/
/apps/site/.astro/

# functions
/functions/**/node_modules/
/functions/**/.cache/

# logs & misc
*.log
.DS_Store

# 项目规范和说明文档
/docs/

/apps/site/node_modules/
/apps/site/.cache/
/apps/site/dist/
/apps/site/.astro/
/functions/**/node_modules/
functions/**/.cache/
*.log
.DS_Store

/node_modules/
.vs/
