@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger icon animation */
.hamburger span{display:block;height:2px;width:24px;margin:4px 0;background:#0f172a;transition:transform .2s}
.hamburger.open span:nth-child(1){transform:translateY(6px) rotate(45deg)}
.hamburger.open span:nth-child(2){transform:scaleX(0)}
.hamburger.open span:nth-child(3){transform:translateY(-6px) rotate(-45deg)}
